.Map2{
  height: 92%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px;
}
.Chart .recharts-wrapper{
  margin-right: 0;
}
@media(max-width : 800px){
  .Map2{
    margin-top: 8%;
    height: 85%;
  }
}
