.Navbar{
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 0 20px;
}
.NavbarButtons{
  display: flex;
  align-items: center;
  height: 100%;
}
.NavbarButtons a{
  height: 100%;
}
.NavbarButton{
  height: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.NavbarButton:hover{
  font-weight: bolder;
}

@media(max-width : 800px) {
  .Navbar{
    display: none;
  }
}